p {
    color: blue;
}

a {
    color: purple;
}

h1 {
    color: crimson;
    background-color: black;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    border-style: groove;
    border: 2px solid crimson;
    border-radius: 20px;
    text-align: center;
    padding: 14px 16px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

nav ul li.active {
    background-color: crimson;
}

.active {
    background-color: darkred;
}

.red-t {
    background-image: url("http://i.imgur.com/dPAG9.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #A25C52
}

.blu {
    background-image: url("https://img00.deviantart.net/e707/i/2011/206/8/6/team_fortress_blue_team_flag_by_notdavejustice-d41m1q2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #E2CE6F;
}

.contact {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/t_original/zqqztqf1xex8biaalfam.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}